#main.container
    %h3.header Properties available for rent

    %table.table
        %thead
            %tr
                %th Property
                %th Description
                %th Details
                %th Distance from you
                %th Price per night

